<% if permitted_to?(:read, :doogle_displays) %>
<div class="submenu">
	<ul>
		<li class="<%= menu_selected :doogle_search %>">
			<%= link_to 'Search', doogle_displays_url %>
		</li>
		<% if permitted_to?(:manage, :doogle_displays) %>
		<li class="<%= menu_selected :doogle_new_display %>">
			<%= link_to 'New Display', new_doogle_display_url %>
		</li>
		<li class="<%= menu_selected 'doogle/logs' %>">
			<%= link_to 'Logs', doogle_logs_url %>
		</li>
		<li class="<%= menu_selected :doogle_web_preview %>">
			<%= link_to 'Web Preview', web_preview_doogle_displays_url %>
		</li>
		<% end %>
		<li class="<%= menu_selected 'doogle/spec_versions' %>">
			<%= link_to 'Spec Changes', doogle_spec_versions_url %>
		</li>
	</ul>
</div>
<br />
<% end %>