<%= render 'doogle/displays/submenu' %>

<%= will_paginate @spec_versions %>

<% if @spec_versions.size == 0 %>
<h2>No specs!  Create one!</h2>
<% else %>
<table class="data">
	<thead>
		<tr>
			<th>Version</th>
			<th>Assets</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<% @spec_versions.each do |v| %>
		<tr>
			<td>
				Version: <%= v.version %><br />
				Last Modified: <%= v.updated_at.to_s(:number_date_time) %><br />
				By: <%= v.updated_by.try(:full_name) %>
			</td>
			<td>
				<% if v.datasheet? %>
					Datasheet: <%= link_to v.datasheet_file_name, v.datasheet.url, {:target => '_blank'} %><br />
				<% end %>
				<% if v.specification? %>
					Specification: <%= link_to v.specification_file_name, v.specification.url, {:target => '_blank'} %><br />
				<% end %>
				<% if v.try(:source_specification?) and permitted_to?(:read_source_specification) %>
					Non-public Specification: <%= link_to v.source_specification_file_name, v.source_specification.url, {:target => '_blank'} %><br />
				<% end %>
				<% if v.drawing? %>
					Web Datasheet: <%= link_to v.drawing_file_name, v.drawing.url, {:target => '_blank'} %><br />
				<% end %>
			</td>
			<td>
				<%= simple_format v.comments %>
			</td>
			<% if permitted_to? :manage, :doogle_spec_versions %>
			<td>
				<%= link_to 'Edit', edit_doogle_display_spec_version_url(@display, v) %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<p><%= link_to 'New Spec Version', new_doogle_display_spec_version_url(@display) %></p>
