<% li_class = search && field.dimensions.any?(&:search_range?) ? 'select' : 'string stringish' %>
<% li_id = "#{search ? 'search' : 'display'}_#{field.key}_input" %>
<li class="<%= li_class %> input optional doogle_dimensions <%= hosf(field) %>" id="<%= li_id %>"><label class="label" for="display_<%= field.key %>"><%= field.label %></label>
	<% field.dimensions.each do |dimension| %>
	<span><%= dimension.label %></span>
	<% if search and dimension.search_range? %>
	<%= range_select_tag display, dimension.search_range_attribute, dimension.search_range_options %>
	<% else %>
	<%= f.text_field dimension.edit_input %>
	<% end %>
	<% end %>
</li>
