<%= f.inputs do %>
	<% unless @display.new_record? %>
	<%= f.input :id, :input_html => { :readonly => 'readonly' } %>
	<% end %>
	<% Doogle::FieldConfig.main.each do |field| %>
		<% if field.model_number? %>
		<% if @display.new_record? %>
		<%= f.input :model_number, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) } %>
		<% else %>
		<%= f.input :model_number, :input_html => { :readonly => 'readonly' }, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) } %>
		<% end %>
		
		<% elsif field.previous_revision_id? %>
		<% if @display.new_record? and @display.previous_revision.present? %>
		<%= f.input :previous_revision_id, :as => :hidden %>
		<li class="input optional string" id="display_previous_revision_model_number_input"><label class="label" for="display_previous_revision_model_number %>"><%= field.label %></label>
			<%= text_field_tag 'previous_model_number', @display.previous_revision.model_number, :readonly => 'readonly' %>
		</li>
		<% elsif permitted_to? :set_previous_revision_id %>
		<%= f.input :previous_revision_id, :label => field.label, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) } %>
		<% end %>

		<% elsif field.erp_id? %>
		<% if permitted_to? :set_erp_id %>
		<%= f.input :erp_id, :label => field.label, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) } %>
		<% end %>
		
		<% elsif field.display_type? %>
		<%= f.input :type_key, :as => :select, :collection => Doogle::DisplayConfig.edit, :label => field.label, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) }, :include_blank => field.edit_include_blank %>
		
		<% elsif field.has_many? %>
		<%= f.input field.column, :as => :check_boxes, :collection => field.has_many_class.all, :label => field.label, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) } %>
		
		<% elsif field.belongs_to? %>
		<%= f.input field.column, :as => :select, :collection => field.belongs_to_class.all, :member_label => field.belongs_to_class_member_label, :label => field.label, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) }, :include_blank => field.edit_include_blank %>
		
		<% elsif field.dimension? %>
		<%= render 'dimension', :f => f, :display => @display, :field => field, :search => false %>
		
		<% elsif field.attachment? %>
		<%= f.input field.column, :as => :attachment, :label => field.label, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) } %>
		
		<% elsif field.original_customer_name? %>
		<%= render 'original_customer_name', :f => f, :display => @display, :field => field, :object_name => 'display' %>
		<% else %>
	  <%= f.input field.column, :label => field.label, :wrapper_html => { :id => field.wrapper_id, :class => hosf(field) } %>
		<% end %>
	<% end %>
<% end %>

<%= render 'dynamic_form', :object_name => 'display' %>