<div class="admintoolbar">
<%= will_paginate @displays %>
</div>

<table class="data">
  <thead>
    <tr>
			<% @fields.each do |field| %>
			<th><%= field.label %></th>
			<% end %>
    </tr>
  </thead>
  <tbody>
    <% @displays.each do |display| %>
      <tr class="<%= cycle('odd', 'even') %>">
				<% @fields.each do |field| %>
				<td class="<%= field_td_class(display, field) %>"><%= render_field(display, field) %></td>
				<% end %>
				<% if display.datasheet? %>
			  <td>
					<%= link_to 'Datasheet', doogle_display_path(URI.escape(display.model_number, "/"), :format => 'pdf') %>
				</td>
				<% end %>
				<% if permitted_to? :edit, display %>
				<td>
					<%= link_to 'Edit', edit_doogle_display_path(display) %>
				</td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="admintoolbar">
<%= will_paginate @displays %>
</div>