<table class="data">
  <thead>
    <tr>
			<% result_fields.each do |field| %>
			<th class="<%= field_class(field) %>"><%= field.label %></th>
			<% end %>
    </tr>
  </thead>
  <tbody>
    <% displays.each do |display| %>
      <tr class="<%= cycle('odd', 'even') %>">
				<% result_fields.each do |field| %>
				<td class="<%= field_class(field, display) %>"><%= field.render(display, :search => @search) %></td>
				<% end %>
				<% if permitted_to? :edit, :doogle_displays %>
				<td>
					<%= link_to 'Edit', edit_doogle_display_path(display) %>
				</td>
				<% end %>
				<% if display.latest_spec.try(:datasheet?) %>
			  <td>
					<%= link_to 'Datasheet', display.datasheet.url, {:target => '_blank'} %>
				</td>
				<% end %>
				<% if display.latest_spec.try(:specification?) %>
			  <td>
					<%= link_to 'Specification', display.latest_spec.specification.url, {:target => '_blank'} %>
				</td>
				<% end %>
				<% if display.latest_spec.try(:source_specification?) and permitted_to?(:read_source_specification) %>
			  <td>
					<%= link_to 'Non-public Specification', display.latest_spec.source_specification.url, {:target => '_blank'} %>
				</td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>