<%= f.inputs do %>
	<% Doogle::FieldConfig.searchable.each do |field| %>
		<% next if field.display_type? %>
		<% if field.search_range? %>
		<li class="select input optional <%= ssf(field) %>" id="search_<%= field.key %>_input">
			<label class=" label" for="search_<%= field.key %>"><%= field.label %></label>
	    <%= range_select_tag(@search, field.search_range_attribute, field.search_range_options) %>
		</li>
		<% elsif field.search_options? %>
		<%= f.input field.search_input, :as => :select, :collection => field.search_options_class.all, :member_label => field.search_options_class_member_label, :label => field.label, :include_blank => field.search_include_blank, :wrapper_html => { :id => "search_#{field.key}_input", :class => ssf(field) } %>
		<% elsif field.has_many? %>
		<%= f.input field.search_input, :as => :check_boxes, :collection => field.has_many_class.all, :label => field.label, :wrapper_html => { :id => "search_#{field.key}_input", :class => ssf(field) } %>
		<% elsif field.search_belongs_to? %>
		<%= f.input field.search_input, :as => :select, :collection => field.search_belongs_to_class.all, :label => field.label, :include_blank => field.search_include_blank, :wrapper_html => { :id => "search_#{field.key}_input", :class => ssf(field) } %>
		<% elsif field.dimension? %>
		<%= render 'dimension', :f => f, :display => @search, :field => field, :search => true %>
		<% elsif field.original_customer_name? %>
		<%= render 'original_customer_name', :f => f, :field => field, :object_name => 'search' %>
		<% elsif field.model_number? %>
		<%= f.input :model_number, :wrapper_html => { :class => "wide_string #{ssf(field)}" }, :label => field.label + '(s)' %>
		<% elsif field.vendor_part_number? %>
		<%= f.input :vendor_part_number, :wrapper_html => { :class => "wide_string #{ssf(field)}" }, :label => field.label + '(s)' %>
		<% elsif field.sql_query? %>
		<%= f.input :sql_query, :wrapper_html => { :class => 'wide_string', :class => ssf(field) }, :label => field.label %>
		<% elsif field.search_as %>
	  <%= f.input field.search_input, :as => field.search_as, :label => field.label, :wrapper_html => { :id => "search_#{field.key}_input", :class => ssf(field) } %>
		<% else %>
	  <%= f.input field.search_input, :label => field.label, :wrapper_html => { :id => "search_#{field.key}_input", :class => ssf(field) } %>
		<% end %>
	<% end # end fields %>
<% end # end inputs %>

