<%= f.inputs do %>
  <%#= f.input :type, :as => :select, :collection => Doogle::DisplayConfig.options %>
	<% Doogle::FieldConfig.searchable.each do |field| %>
		<% if field.display_type? %>
		<%= f.input :type_key, :as => :select, :collection => Doogle::DisplayConfig.all, :label => 'Type' %>
		<% elsif field.search_range? %>
		<li class="select input optional" id="display_<%= field.key %>_input" style="display: block; "><label class=" label" for="display_<%= field.key %>"><%= field.label %></label>
			<%= range_select_tag @search, field %>
		</li>
		<% elsif field.has_many? %>
		<%= f.input field.key, :as => :check_boxes, :collection => field.has_many_class.all %>
		<% elsif field.belongs_to? %>
		<%= f.input field.key, :as => :select, :collection => field.belongs_to_class.all %>
		<% elsif field.dimension? %>
		<%= render 'dimension', :f => f, :display => @search, :field => field, :search => true %>
		<% elsif field.search_as %>
	  <%= f.input field.key, :as => field.search_as %>
		<% else %>
	  <%= f.input field.key %>
		<% end %>
	<% end %>
<% end %>

<%= render 'dynamic_form', :object_name => 'search' %>