<div class="admintoolbar">
<h3><%= cm @displays.total_entries %> Displays<h3>
<%= will_paginate @displays %>
<% result_fields = @search.display_type.present? ? @search.display_type.fields : Doogle::FieldConfig.top_level %>
<% result_fields.delete_if { |f| [:datasheet, :specification, :source_specification].include?(f.key) } %>
<%= select_tag(:field_id, options_from_collection_for_select(result_fields.sort_by(&:name), :key, :name, @show_results_fields.map(&:key)), {:id => 'search_results_filter', :multiple => true}) %>
</div>

<table class="data">
  <thead>
    <tr>
			<% result_fields.each do |field| %>
			<th class="<%= field_class(field) %>"><%= field.label %></th>
			<% end %>
    </tr>
  </thead>
  <tbody>
    <% @displays.each do |display| %>
      <tr class="<%= cycle('odd', 'even') %>">
				<% result_fields.each do |field| %>
				<td class="<%= field_class(field, display) %>"><%= render_field(display, field) %></td>
				<% end %>
				<% if permitted_to? :edit, :doogle_displays %>
				<td>
					<%= link_to 'Edit', edit_doogle_display_path(display) %>
				</td>
				<% end %>
				<% if display.datasheet? %>
			  <td>
					<%= link_to 'Datasheet', doogle_asset_path(display, :datasheet), {:target => '_blank'} %>
				</td>
				<% end %>
				<% if display.specification? %>
			  <td>
					<%= link_to 'Specification', doogle_asset_path(display, :specification), {:target => '_blank'} %>
				</td>
				<% end %>
				<% if display.source_specification? and permitted_to?(:read_source_specification) %>
			  <td>
					<%= link_to 'Non-public Specification', doogle_asset_path(display, :source_specification), {:target => '_blank'} %>
				</td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="admintoolbar">
<%= will_paginate @displays %>
</div>