<div class="admintoolbar">
<h3><%= cm @displays.total_entries %> Displays<h3>
<%= will_paginate @displays %>
<% result_fields = @search.display_type.present? ? @search.display_type.fields : Doogle::FieldConfig.top_level %>
<% result_fields = result_fields.select { |f| ![:datasheet, :specification, :source_specification].include?(f.key) } %>
<%= select_tag(:field_id, options_from_collection_for_select(result_fields.sort_by(&:name), :key, :name, @show_results_fields.map(&:key)), {:id => 'search_results_filter', :multiple => true}) %>
</div>

<%= render 'search_results_table', :result_fields => result_fields, :displays => @displays %>

<div class="admintoolbar">
<%= will_paginate @displays %>
</div>