<% if permitted_to?(:read, :doogle_displays) %>
<div class="submenu">
	<ul>
		<li class="<%= menu_selected(:controller => :displays, :action => :index) %>">
			<%= link_to 'Search', doogle_displays_url %>
		</li>
		<% if permitted_to?(:manage, :doogle_displays) %>
		<li class="<%= menu_selected(:controller => :displays, :action => :new) %>">
			<%= link_to 'New Display', new_doogle_display_url %>
		</li>
		<li class="<%= menu_selected(:controller => :display_logs, :action => :index) %>">
			<%= link_to 'Logs', doogle_display_logs_url %>
		</li>
		<% end %>
	</ul>
</div>
<br />
<% end %>