<% content_for :javascripts do %>
<script type="text/javascript">
var options = {
	target: '#search_results',
	beforeSubmit: function(arr, $form, options) { 
		$("#search_results").html("");
		$("#inprogress").show();
		return true;
	},
	success: function() {
		$("#inprogress").hide();
		return true;
	},
	error: function() {
		$("#inprogress").hide();
		$("#search_results").html("<h2>Sorry, the report failed to run.</h2>")
		return true;
	}
};
$(function() {
  $("form#search_new").change(function() {
    $(this).ajaxSubmit(options);
  });
	$("a.clear_form").click(function() {
		$('form#search_new').clearForm();
		$("#search_results").html("");
		return false;
	})
});
</script>
<% end %>

<% title 'Display Search' %>

<%= link_to 'Clear Form', '#', :class => 'clear_form' %>

<%= semantic_form_for @search, :as => :search, :url => doogle_displays_path, :html => {:method => :get} do |f| %>
<%= render :partial=>'search_form', :locals =>{:f=>f} %>
<% end %>

<div id="inprogress" class="hide display_search">
	Searching... <%= image_tag 'inprogress.gif' %>
</div>

<div id="search_results">
<% if @displays %>
<%= render 'search_results' %>
<% end %>
</div>