<%= render 'submenu' %>

<% title 'New Display' %>
<h2>New Display</h2>
<%= semantic_form_for @display, :as => :display, :url => doogle_displays_url, :html => {:class => 'doogle'} do |f| %>
  <%= f.semantic_errors %>
  <%= render :partial=>'edit_form', :locals =>{:f=>f, :display => @display} %>
  <%= f.buttons do %>
    <%= f.commit_button 'Save' %>
    <li class="link"><%= link_to 'Cancel', (params[:return_to] || doogle_displays_url) %></li>
  <% end %>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
  $("select#display_type_key").change(function(e) {
		var display_type_value = $(this).children("option:selected").attr("value");
		// console.log("display type: " + display_type_value);
		$("input#display_model_number").val("Loading...");
		$.ajax('<%= next_model_number_doogle_displays_url %>',
			{
				data: { display_type: display_type_value },
				dataType: 'text',
				success: function(d) {
					$("input#display_model_number").val(d)
				},
				error: function(data) {
					$("input#display_model_number").val(d)
				}			
			}
		);
		
		var display_type_text = $(this).children("option:selected").text();
		$("input#display_description").val(display_type_text);
  })
})
</script>
<% end %>