
<%= render 'doogle/displays/submenu' %>

<% title @display.model_number %>

<% if @display.next_revision %>
	<% display = @display %>
	<div class="errorExplanation error">
		<strong>There are newer revisions:</strong>
		<ul>
			<% while display = display.next_revision do %>
			<li><%= link_to display.model_number, doogle_display_url(display) %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<table class="data">
	<tbody>
<% @display.display_type.fields.each do |field| %>
	<% next if field.source_specification? and !permitted_to?(:read_source_specification) %>
	<tr>
		<td><%= field.name %></td>
		<td><%= field.render(@display) %></td>
	</tr>
<% end %>
	</tbody>
</table>

<p><%= link_to 'New Spec Version', new_doogle_display_spec_version_url(@display) %></p>
