
<%= render 'doogle/displays/submenu' %>

<% title @display.model_number %>

<% if @display.next_revision %>
	<% display = @display 
	 loop_test = 0
	%>
	<div class="errorExplanation error">
		<strong>There are newer revisions:</strong>
		<ul>
			<% while (display != display.next_revision) and (display = display.next_revision) do %>
			<li><%= link_to display.model_number, doogle_display_url(display) %></li>
			<% break if (loop_test += 1) >= 10 %>
			<% end %>
		</ul>
	</div>
<% end %>

<table class="data">
	<tbody>
<% @display.display_type.fields.each do |field| %>
	<% next if field.source_specification? and !permitted_to?(:read_source_specification) %>
	<% next if field.vendor_part_number? %>
	<% if field.search_vendor? %>
	<% @display.vendors.each do |vendor| %>
	<tr>
		<td>
			<% if vendor.m2m_vendor %>
			<%= link_to vendor.short_name, vendor_url(vendor.m2m_vendor) %> 
			<% else %>
			<%= vendor.short_name %>
			<% end %>
			Part Number
		</td>
		<td><%= vendor.vendor_part_number %></td>
	</tr>
	<% end %>
	<% else %>
	<tr>
		<td><%= field.name %></td>
		<td><%= field.render(@display) %></td>
	</tr>
	<% end %>
<% end %>
	</tbody>
</table>


