<% title 'Editing Display' %>
<%= semantic_form_for @display, :as => :display, :url => display_path(@display) do |f| %>
  <%= hidden_field_tag :_method, :put %>
  <%= f.error_messages %>
  <%= render :partial=>'form', :locals =>{:f=>f} %>
  <%= f.buttons do %>
	  <%= f.commit_button 'Save' %>
	  <%= f.commit_button 'Save & Edit' %>
    <li class="link"><%= link_to 'Cancel', (params[:return_to] || display_path(@display)) %></li>
    <li class="link"><%= link_to 'Show Display', display_path(@display) %></li>
    <li class="link"><%= link_to 'Destroy', display_path(@display), :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
<% end %>
