<% content_for :javascripts do %>
<script type="text/javascript">
var options = {
	target: '#search_results',
	beforeSubmit: function(arr, $form, options) { 
		$("#search_results").html("");
		$("#inprogress").show();
		return true;
	},
	success: function() {
		$("#inprogress").hide();
		return true;
	}
};
$(function() {
  $("form#search_new").change(function() {
    $(this).ajaxSubmit(options);
  });
});
</script>
<% end %>

<% title 'Display Search' %>

<%= semantic_form_for @search, :as => :search, :url => displays_path, :html => {:method => :get} do |f| %>
<%= f.inputs do %>
	<%= f.input :model_number %>
	<%= f.input :type_key, :as => :select, :collection => DisplayConfig.options, :label => 'Type' %>
	<%= f.input :graphic_type_id, :as => :select, :collection => Doogle::GraphicType.all, :label => 'Graphics' %>
	<%= f.input :resolution_x_range_id, :as => :select, :collection => Doogle::ResolutionXRange.all, :label => 'X Resolution' %>
	<%= f.input :character_columns_range_id, :as => :select, :collection => Doogle::CharacterColumnRange.all, :label => 'Character Columns' %>
	<%= f.input :storage_temperature_min_range_id, :as => :select, :collection => Doogle::StorageTemperatureMinRange.all, :label => 'Min Storage Temperature' %>
	<%= f.input :module_diagonal_in_range_id, :as => :select, :collection => Doogle::DiagonalInchesRange.all, :label => 'Diagonal' %>
	<%= f.input :bonding_type_id, :as => :select, :collection => Doogle::BondingType.all, :label => 'Bonding' %>
	<%= f.input :backlight_color_id, :as => :select, :collection => Doogle::BacklightColor.all, :label => 'Backlight' %>
	<%= f.input :luminance_nits_range_id, :as => :select, :collection => Doogle::LuminanceRange.all, :label => 'Luminance' %>
<% end %>
<% end %>

<div id="inprogress" class="hide display_search">
	Searching... <%= image_tag 'inprogress.gif' %>
</div>

<div id="search_results">
<% if @displays %>
<%= render 'search_results' %>
<% end %>
</div>