
<%= render 'doogle/submenu' %>

<%= will_paginate @display_logs %>

<table class="data">
	<thead>
		<tr>
			<th>Time</th>
			<th>Display</th>
			<th>Summary</th>
			<th>Details</th>
			<th>User</th>
		</tr>
	</thead>
	<tbody>
		<% @display_logs.each do |dl| %>
		<tr>
			<td><%= dl.created_at.to_s(:number_date_time) %></td>
			<td><%= link_to_if permitted_to?(:read, :doogle_displays), dl.display.model_number, doogle_display_url(dl.display) %></td>
			<td><%= dl.summary %></td>
			<td><%= dl.details %></td>
			<td><%= dl.user.try(:full_name) %></td>
		</tr>
		<% end %>
	</tbody>
</table>