<%= render 'doogle/displays/submenu' %>

<%= will_paginate @display_logs %>

<table class="data">
	<thead>
		<tr>
			<th>Time</th>
			<th>Summary</th>
			<th>Details</th>
			<th>User</th>
		</tr>
	</thead>
	<tbody>
		<% @display_logs.each do |dl| %>
		<tr>
			<td><%= dl.event_time.to_s(:short_human_date) %></td>
			<td><%= dl.summary %></td>
			<td>
				<% if dl.log_type.try(:opportunity?) and dl.opportunity %>
				<%= link_to dl.opportunity.number_and_title, opportunity_url(dl.opportunity) %>
				<% elsif dl.log_type.try(:quote?) and dl.quote %>
				<%= link_to "Quote #{dl.quote.quote_number}", sales_quote_url(dl.quote) %>
				<% else %>
				<%= simple_format dl.details %>
				<% end %>
			</td>
			<td><%= dl.user.try(:full_name) %></td>
		</tr>
		<% end %>
	</tbody>
</table>