<%= render 'doogle/displays/submenu' %>

<%= will_paginate @vendor_costs %>

<% if @vendor_costs.size == 0 %>
<h2>No pricing! Create some!</h2>
<% else %>
<table class="data">
	<thead>
		<tr>
			<th>Approval</th>
			<th>Vendor</th>
			<th>Preferred</th>
			<th>Start Date</th>
			<th>Last Date</th>
			<th>Quantity</th>
			<th>Cost</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		<% @vendor_costs.each do |v| %>
		<tr>
			<td><%= v.approval_status.name %></td>
			<td>
				<% if v.m2m_vendor %>
				<%= link_to v.vendor_name, vendor_url(v.m2m_vendor) %>
				<% else %>
				<%= v.vendor_name %>
				<% end %>
			</td>
			<td><%= v.preferred_vendor ? 'X' : '' %></td>
			<td><%= v.start_date.to_s(:number_date) %></td>
			<td><%= v.last_date.try(:to_s, :number_date) %></td>
			<% level = v.levels_used.first %>
			<td><%= cm level.try(:quantity) %></td>
			<td><%= cm level.try(:value), :dollars %></td>
			<td rowspan="<%= v.levels_used.size %>"><%= simple_format v.notes %></td>
			<% if permitted_to? :manage, :doogle_display_vendor_costs %>
			<td>
				<%= link_to 'Edit', edit_doogle_display_vendor_cost_url(@display, v) %>
			</td>
			<% end %>
		</tr>
			<% extra_levels = v.levels_used[1..-1] 
				 extra_levels.each do |level| %>
			<tr>
				<% if level == extra_levels.first %>
				<td colspan="5" rowspan="<%= extra_levels.size %>"></td>
				<% end %>
				<td><%= cm level.quantity %></td>
				<td><%= cm level.value, :dollars %></td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<% end %>
<p><%= link_to 'New Vendor Cost', new_doogle_display_vendor_cost_url(@display) %></p>
